.speech{
    background-color:rgb(1, 28, 29);
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
}

.stageDirections{
    background-color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    color: black;
}

.name{
    background-color: gray;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 21px;
    color-adjust: black;
}

.hover:hover{
    background-color: rgb(128, 10, 238);
    color: lightsalmon;
}

.mrs_Cheveley{
    color: lightseagreen;
}

.Lord_Goring{
    color: mediumaquamarine;
}

