.speech{
    background-color:rgb(1, 28, 29);
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
}

.stageDirections{
    background-color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    color: black;
}

.name{
    background-color: gray;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 21px;
    color-adjust: black;
}

.hover:hover{
    background-color: rgb(128, 10, 238);
    color: white;
}

.mrs_Cheveley{
    color: lightseagreen;
}

.Lord_Goring{
    color: mediumaquamarine;
}

.Style_table{
    border-style:double;
    border-color: black;
    text-align: center;
    margin: 25px 0px 0px 350px;
}

tr:nth-child(odd) {background-color: #d1d1d1;}

.row_column{
    border-style: dashed;
    border-color: orange;
    padding: 20px;
}

.name_Hover:hover{
    text-shadow: 10px 10px blueviolet;
    border-style:ridge;
    border-color: black;
    filter : blur(0.8px);
}